@import 'src/assets/styles/services';

.root {
  display: flex;
  width: 100%;
  overflow: hidden;
  min-height: 500px;
  transition: opacity .25s ease-in-out;
}

.container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  padding: 40px;
  width: 100%;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.4));
  z-index: 1;
}

.gradient {
  position: absolute;
  width: 80%;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(var(--lightVibrant), 1) 0%,
    rgba(var(--lightVibrant), 0.94) 7.25%,
    rgba(var(--lightVibrant), 0.86) 12.45%,
    rgba(var(--lightVibrant), 0.78) 16.48%,
    rgba(var(--lightVibrant), 0.09) 40.26%,
    rgba(var(--lightVibrant), 0.04) 44%,
    rgba(var(--lightVibrant), 0) 52%
  );
}

.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  background-color: rgba(var(--lightVibrant), 1);
}

.background {
  position: absolute;
  width: 80%;
  left: 20%;
  height: 100%;
  object-fit: cover;
  object-position: 20% 20%;
  opacity: 0.7;
  z-index: 0;
}

.video {
  position: absolute;
  width: 80%;
  top: 0;
  bottom: 0;
  right: 0;
  height: calc(100%);
  opacity: 0;
  object-fit: cover;
  z-index: 0;
  overflow: hidden;
  transition: opacity 1s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    background: linear-gradient(
        90deg,
        rgba(#191414, 1) 0%,
        rgba(#191414, 0.94) 7.25%,
        rgba(#191414, 0.86) 12.45%,
        rgba(#191414, 0.78) 16.48%,
        rgba(#191414, 0.09) 40.26%,
        rgba(#191414, 0.04) 44%,
        rgba(#191414, 0) 52%
    );
  }

  .isPlaying & {
    opacity: 1;
  }

  > * {
    height: 100%;
  }
}

.ytWrapper {
  position: absolute;
  top: -150px;
  bottom: -150px;
  right: -20%;
  height: calc(100% + 300px);
  width: calc(100% + 300px);
}

.image {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  color: $c-white;
  width: 100%;
  margin-top: 20px;
}

.genres {
  max-width: 400px;
  margin-top: 20px;
}

.genresList {
  display: flex;
  flex-flow: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.genreItem {
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 2px 5px 3px;
  border-radius: 4px;
  color: $c-white;
  background-color: rgba(var(--darkVibrant), 1);
}

.trending {
  background-color: $c-dirty-blue;
}

.followers {
  display: flex;
  width: 100%;
  margin-top: 20px;
  color: $c-white;
  font-size: $font-size-md;
}

.topTrack {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 400px;
  z-index: 2;
}
