@import 'src/assets/styles/services';


.root {
  margin-top: 32px;
  background-color: $c-black-muted;
  padding: 10px;
  border-radius: 4px;
  min-height: 100px;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.image {
  display: flex;
  margin-right: 20px;
  position: relative;
}

.img {
  width: 100px;
  height: 100px;
  margin-top: -32px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.play {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: $s-green;
  border-radius: 100%;
  color: $c-white;
  border: none;
  box-shadow: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity .25s ease-in-out;
  z-index: 1;
  top: 0;
  left: calc(50% - 20px);

  > * {
    pointer-events: none;
  }

  &:hover {
    opacity: 1;
    pointer-events: auto;
  }

  .root:hover & {
    opacity: 1;
    pointer-events: auto;
  }
}

.info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.name {
  color: $c-white;
  font-size: $font-size-md;
  font-weight: 500;
  margin-bottom: 3px;
  position: relative;
}

.explicit {
  position: absolute;
  font-size: 11px;
  background-color: $c-dirty-blue-lightest;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  margin-left: 5px;
  width: 18px;
  height: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  z-index: 1;
  bottom: 5px;
  right: 5px;
  color: $c-white;
}

.artists {
  color: $c-gray;
}

.artist {
  color: $c-gray;
}
