* {
  box-sizing: inherit;
}

html {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  position: relative;
  display: block;
  margin: 0;
}

.Main {
  position: relative;
  background: $g-background-black;

  &__Sidebar {
    width: 230px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
  }

  &__MainLayout {
    margin-left: 230px;
  }

  &__Player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: $c-black-muted;
    box-shadow: 1px -20px 30px 0px rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    z-index: 12;
  }
}
