@import 'src/assets/styles/services';

.root {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 36px;
  border-radius: 23px;
  font-size: $font-size-base;
  text-align: center;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  color: $c-black;

  &:hover {
    transform: scale(1.05);
  }
}

.theme {
  &-green {
    background-color: $s-green;
    color: $s-white;
    font-weight: 700;

    &:hover {
      background-color: $c-green-light;
    }
  }
  &-uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &-smallUnderline {
    background: transparent;
  }
  &-white {
    color: $s-black;
    background-color: $s-white;
  }
  &-whiteText {
    color: $c-white;
    font-weight: 700;
    opacity: 0.6;
    padding: 0;

    &:hover {
      opacity: 1;
      transform: scale(1);
    }

  }
}
