.root {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.filter {
  display: flex;
  flex-flow: row;
  margin: 20px 140px 10px 40px;
  z-index: 3;
}

.filterItem {
  margin-right: 25px;
}

.list {
  display: flex;
  width: 100%;
}

.item {
  width: 385px;
  height: 250px;
  margin-top: 20px;

  &:first-child {
    margin-left: 40px;
  }

  &:last-child {
    margin-right: 40px;
  }
}

.buttonWrapperNext {
  display: flex;

}

.buttonWrapperPrev {
  display: flex;
}
