.root {
  display: flex;
  flex-flow: column;
  width: 100%;

  :global {
    .swiper-container {
      min-height: auto;
      height: 440px;
    }

    .swiper-wrapper {
      padding-right: 40px;
    }
  }
}

.filter {
  display: flex;
  flex-flow: row;
  margin: 20px 140px 10px 40px;
  z-index: 3;
}

.filterItem {
  margin-right: 25px;
}

.list {
  display: flex;
  width: 100%;
}

.item {
  width: 385px;
  height: 152px;
  margin-top: 20px;

  &:nth-last-child(1) {
    > div {
      margin-right: 40px;
    }
  }

  &:nth-last-child(2) {
    > div {
      margin-right: 40px;
    }
  }
}

.buttonWrapperNext {
  display: flex;

}

.buttonWrapperPrev {
  display: flex;
}
