@import 'src/assets/styles/services';

.root {
  display: flex;
  position: relative;
  background-color: rgba(var(--lightVibrant), 1);
  width: 385px;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out,
    margin 0.25s ease-in-out;

  &.hovered {
    width: 600px;
    height: 338px;
  }
}

.wrapper {
  width: 100%;
  padding: 20px;
  background: $g-light;
  text-decoration: none;
  transition: 0.25s ease-in-out;
  z-index: 1;
}

.imageIcon {
  position: absolute;
  width: 92px;
  height: 92px;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;

  .hovered & {
    opacity: 0;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.name {
  color: $c-white;
  font-size: 28px;
  line-height: 1.2;
  font-weight: bold;
  margin: 112px 0 0 0;
  opacity: 1;
  transform: none;
  transition: font-size 0.25s ease-in-out, margin-top 0.25s ease-in-out;
  z-index: 3;

  .hovered & {
    margin: 20px 0 0 0;
    font-size: 42px;
    position: absolute;
  }

  .videoShowing & {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transition: font-size 0.25s ease-in-out, margin-top 0.25s ease-in-out,
      opacity 0.55s ease-in-out 15s, transform 0.55s ease-in-out 15s;
  }
}

.songTitle {
  position: absolute;
  color: $c-white;
  font-size: 20px;
  line-height: 1.2;
  opacity: 0;
  font-weight: bold;
  top: 90px;
  transition: opacity 0.25s ease-in-out;
  z-index: 3;
  transform: none;

  .videoShowing & {
    opacity: 1;
    color: transparent;
    transform: translate3d(-100%, 0, 0);
    transition: opacity 0.25s ease-in-out 1.25s, transform 0.25s ease-in-out 15s,
      color 0.25s ease-in-out 15s;
  }
}

.hot {
  position: absolute;
  top: 102px;
  left: 72px;
  background-color: rgba(var(--darkVibrant), 1);
  z-index: 3;
  color: $c-white;
  font-weight: bold;
  line-height: 1;
  opacity: 1;
  transform: none;
  padding: 3px 5px 2px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  transition: background-color 0.25s ease-in-out, left 0.25s ease-in-out, top 0.25s ease-in-out;

  .hovered & {
    background-color: $c-red;
    top: 20px;
    left: 20px;
    position: absolute;
  }

  .videoShowing & {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transition: background-color 0.25s ease-in-out, left 0.25s ease-in-out, top 0.25s ease-in-out,
      opacity 0.55s ease-in-out 15s, transform 0.55s ease-in-out 15s;
  }
}

.genres {
  display: inline-flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 10px 0 0 0;
  list-style: none;
  transition: opacity 0.25s ease-in-out;

  .hovered & {
    opacity: 0;
  }
}

.itemGenre {
  color: $c-white;
  display: inline-flex;
  margin-right: 5px;
  border-radius: 4px;
}

.background {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: opacity 0.25s ease-in-out;
  z-index: 0;

  &:before {
    opacity: 0;
    content: '';
    position: absolute;
    left: -80%;
    top: -80%;
    bottom: 0;
    right: 0;
    background: radial-gradient(circle, rgba(var(--lightVibrant), 1) 0%, rgba(var(--lightVibrant), 0) 100%);
    background-size: 100%;
    z-index: 1;

    .hovered & {
      opacity: 1;
      transition: opacity 0.25s ease-in-out;
    }

    .videoShowing & {
      opacity: 0;
      transition: opacity 0.75s ease-in-out 15s;
    }
  }

  .hovered & {
    opacity: 1;
  }
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.25s ease-in-out 0s;

  .hovered & {
    opacity: 1;
  }

  .videoShowing & {
    opacity: 0;
    transition: opacity 1.25s ease-in-out 0.5s;
  }
}

$video-overflow: 140px;

.video {
  opacity: 0;
  position: absolute;
  top: -$video-overflow;
  left: -$video-overflow;
  bottom: -$video-overflow;
  right: -$video-overflow;
  pointer-events: none;

  .videoShowing & {
    opacity: 1;
    transition: opacity 0.25s ease-in-out 0.5s;
  }

  > div {
    height: 100%;
  }

  > * {
    pointer-events: none;
  }
}

.ytWrapper {
  height: 100%;
}
