@import 'src/assets/styles/services';

.root {
  display: flex;
  position: relative;
  background-color: var(--lightVibrant);
  width: 385px;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out,
    margin 0.25s ease-in-out;

  &.hovered {
    width: 600px;
    height: 338px;

    .hot {
      background-color: $c-red;
      top: 20px;
      left: 20px;
      position: absolute;
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
      transition: background-color 0.25s ease-in-out, left 0.25s ease-in-out, top 0.25s ease-in-out,
      opacity 0.55s ease-in-out 15s, transform 0.55s ease-in-out 15s;
    }

    .background {
      opacity: 1;
    }

    .imageIcon {
      opacity: 0;
    }

    .name {
      margin: 20px 0 0 0;
      font-size: 42px;
      position: absolute;
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
      transition: font-size 0.25s ease-in-out, margin-top 0.25s ease-in-out,
      opacity 0.55s ease-in-out 15s, transform 0.55s ease-in-out 15s;
    }

    .genres {
      opacity: 0;
    }
  }
}

.wrapper {
  width: 100%;
  padding: 20px;
  background: $g-light;
  text-decoration: none;
  transition: 0.25s ease-in-out;
  z-index: 1;
}

.imageIcon {
  position: absolute;
  width: 92px;
  height: 92px;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.name {
  color: $c-white;
  font-size: 28px;
  line-height: 1.2;
  font-weight: bold;
  margin: 112px 0 0 0;
  transition: font-size 0.25s ease-in-out, margin-top 0.25s ease-in-out;
  z-index: 3;
}

.hot {
  position: absolute;
  top: 102px;
  left: 72px;
  background-color: var(--darkVibrant);
  z-index: 3;
  color: $c-white;
  font-weight: bold;
  line-height: 1;
  padding: 3px 5px 2px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  transition: background-color 0.25s ease-in-out, left 0.25s ease-in-out, top 0.25s ease-in-out;
}

.genres {
  display: inline-flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 10px 0 0 0;
  list-style: none;
  transition: opacity 0.25s ease-in-out;
}

.itemGenre {
  color: $c-white;
  display: inline-flex;
  margin-right: 5px;
  border-radius: 4px;
}

.background {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: opacity 0.25s ease-in-out;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.video {
  opacity: 0;
  position: absolute;
  top: -120px;
  left: -120px;
  bottom: -120px;
  right: -120px;
  pointer-events: none;
  transition: opacity 1.25s ease-in-out 1.25s;

  .videoPlaying & {
    opacity: 1;

    &::after {
      opacity: 1;
    }
  }

  > div {
    height: 100%;
  }

  > * {
    pointer-events: none;
  }
}

.ytWrapper {
  height: 100%;
}
