@import 'src/assets/styles/services';

.root {
  display: flex;
}

.albumArt {
  width: 200px;
  height: 200px;
  margin-top: -140px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.img {
  width: 100%;
  height: 100%;
}

.info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 20px;
  flex: 1;
}

.songName {
  color: $c-white;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 6px;
}

.artists {
  color: $c-gray;
}

