@import 'src/assets/styles/services';

.root {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
}

.main {
  width: 100%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.listItem {
  width: 100%;
}

.icon {
  width: 25px;
  fill: $c-white;
  margin-right: 10px;
}

.link {
  display: inline-flex;
  align-items: center;
  width: 100%;
  font-weight: 600;
  letter-spacing: 0.02em;

  &.active {
    background-color: $c-dirty-blue-light;
  }
}
