@import 'src/assets/styles/services';

.root {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
}

.title {
  font-size: 22px;
  margin-bottom: 20px;
  color: $c-white;
}

.footer {
  position: absolute;
  bottom: 0;
}
