@import "src/assets/styles/services";

.root {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    background: rgb(0, 39, 64);
    background: linear-gradient(137deg, rgba($c-dirty-blue, 1) 0%, rgba($c-dirty-blue-lightest, 1) 100%);
}

.loginBar {
    background-color: $s-black;
    max-width: 500px;
    padding: 50px 80px;
    margin: 200px auto 0;
    border-radius: 8px;
}

.logo {
    width: 140px;
    margin: 0 auto;
}

.text {
    color: $s-white;
    font-size: $font-size-md;
    line-height: $line-height-md;
    margin: 20px 0;
    text-align: center;
}

.button {
    text-align: center;
}

.optionalText {
    text-align: center;
}

.labelText {
    display: block;
    color: $s-white;
    font-size: $font-size-xxs;
    line-height: $line-height-xs;
    margin: 20px 0 10px;
    text-align: center;
    width: 100%;
}
