@import 'src/assets/styles/services';

.root {
  position: relative;
  display: flex;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.left {
  width: 500px;
  padding-right: 10px;
}

.right {
  width: 300px;
}

.center {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  width: calc(100% - 500px - 300px);
}

.player {
  display: flex;
  justify-content: center;
}

.artist {
  display: flex;
}

.play {
  background: transparent;
  width: 35px;
  height: 35px;
  padding: 8px;
  border: 1px solid rgba($c-white, 0.6);
  color: rgba($c-white, 0.6);

  svg {
    width: 100%;
    height: 100%;
  }
  &:hover {
    border-color: $c-white;
    color: $c-white;
  }
}

.prevContainer {

  &.disabled {
    pointer-events: none;
    opacity: .3;
  }
}

.stepPrev, .stepNext {
  position: relative;
  margin: 0 20px;
  background: transparent;
  width: 35px;
  height: 35px;
  padding: 9px;
  color: rgba($c-white, 0.6);

  svg {
    width: 100%;
    height: 100%;
  }

  &:hover {
    color: $c-white;
  }
}

.stepPrev {
  &:before {
    content: '';
    width: 2px;
    height: 11px;
    position: absolute;
    background: currentColor;
    left: 10px;
  }

  svg {
    transform: rotate(-180deg);
  }
}

.stepNext {
  &:before {
    content: '';
    width: 2px;
    height: 11px;
    position: absolute;
    background: currentColor;
    right: 10px;
  }
}

.trackContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
