@import 'src/assets/styles/services';

.root {
  display: flex;
  position: relative;
  background-color: var(--lightVibrant);
  width: 385px;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out,
    margin 0.25s ease-in-out;

  &:hover {
    width: 600px;
    height: 338px;

    .hot {
      background-color: $c-red;
      top: 20px;
      left: 20px;
    }

    .background {
      opacity: 1;
    }

    .imageIcon {
      opacity: 0;
    }
  }
}

.wrapper {
  width: 100%;
  padding: 20px;
  background: $g-light;
  text-decoration: none;
  transition: 0.25s ease-in-out;
  z-index: 1;
}

.imageIcon {
  position: absolute;
  width: 92px;
  height: 92px;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.name {
  color: $c-white;
  font-size: 28px;
  line-height: 1.2;
  font-weight: bold;
  margin: 112px 0 0 0;
}

.hot {
  position: absolute;
  top: 102px;
  left: 72px;
  background-color: var(--darkVibrant);
  color: $c-white;
  font-weight: bold;
  line-height: 1;
  padding: 3px 5px 2px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  transition: background-color 0.25s ease-in-out, left .25s ease-in-out, top .25s ease-in-out;
}

.genres {
  display: inline-flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 10px 0 0 0;
  list-style: none;
}

.itemGenre {
  color: $c-white;
  display: inline-flex;
  margin-right: 5px;
  border-radius: 4px;
}

.background {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: opacity 0.25s ease-in-out;

  &:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //background: linear-gradient(0deg, var(--lightVibrant), transparent);
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.4));
  }
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
