@import 'src/assets/styles/services';

.root {
  display: flex;
  position: relative;
  background-color: $c-black-muted;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.wrapper {
  width: 100%;
  padding: 20px;
}

.imageIcon {
  position: absolute;
  width: 92px;
  height: 92px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,.3), 0 1px 2px 0 rgba(0,0,0,.2);
  overflow: hidden;
}
