@import 'src/assets/styles/services';

.root {
  display: flex;
  position: relative;
  background-color: var(--lightVibrant);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: transform 0.25s ease-in-out;
  &:hover {
    transform: translate3d(-5px, -5px, 0);

    .hot {
      background-color: $c-red;
    }
  }
}

.wrapper {
  width: 100%;
  padding: 20px;
  background: $g-light;
  text-decoration: none;
  transition: 0.25s ease-in-out;
}

.imageIcon {
  position: absolute;
  width: 92px;
  height: 92px;
  transition: transform 0.25s ease-in-out;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.name {
  color: $c-white;
  font-size: 28px;
  line-height: 1.2;
  font-weight: bold;
  margin: 112px 0 0 0;
}

.hot {
  position: absolute;
  top: 102px;
  left: 72px;
  background-color: var(--darkVibrant);
  color: $c-white;
  font-weight: bold;
  line-height: 1;
  padding: 3px 5px 2px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  transition: background-color .25s ease-in-out;
}

.genres {
  display: inline-flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 10px 0 0 0;
  list-style: none;
}

.itemGenre {
  color: $c-white;
  display: inline-flex;
  margin-right: 5px;
  border-radius: 4px;
}
