@import 'src/assets/styles/services';

.root {
  display: inline-block;
  width: auto;
  position: relative;
  cursor: pointer;

  &.theme {
    &-underlined {
      margin: 0 -5px;

      &:hover {
        .text {
          color: $c-white;
          opacity: 1;
        }
      }

      &.checked {
        .text {
          color: $c-white;
          opacity: 1;

          &:before {
            content: '';
            height: 2px;
            background-color: $s-green;
            width: 30px;
            position: absolute;
            display: block;
            left: 50%;
            bottom: -4px;
            margin-left: -15px;
          }
        }
      }

      .text {
        color: $c-white;
        padding: 5px;
        opacity: 0.6;
        transition: 0.25s ease-in-out;
      }
    }

    &-uppercase {
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &-grayButton {
      font-size: $font-size-base;
      color: $c-white;
      font-weight: 700;
      padding: 8px 16px;
      border-radius: 4px;

      &.checked {
        background-color: $c-gray-mid;
      }
    }
  }
}

.input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  opacity: 0;
}
