$s-green: #1db954;
$s-black: #191414;
$s-white: #ffffff;

$c-black: $s-black;
$c-black-muted: #282828;
$c-white: $s-white;
$c-dirty-blue: #0f1219;
$c-dirty-blue-light: #161920;
$c-dirty-blue-lightest: #2e333b;
$c-green-light: #66d46e;
$c-red: #ec1e32;
$c-black-vibrant: #000;
$c-gray: #b3b3b3;
$c-gray-mid: #333;

$g-background-black: linear-gradient(172.33deg, #181818 -56.29%, #181818 46.24%);
$g-background-blue: linear-gradient(#212c39, #121e3d 50%, #000);
$g-light: linear-gradient(180deg,transparent,rgba(0,0,0,.4));

