$s-green: #1db954;
$s-black: #191414;
$s-white: #ffffff;

$c-black: $s-black;
$c-white: $s-white;
$c-dirty-blue: #0f1219;
$c-dirty-blue-light: #161920;
$c-dirty-blue-lightest: #2e333b;
$c-green-light: #66d46e;
