$font-family-base: "Proxima Nova", Arial, sans-serif !default;

$font-size-xl: 20px !default;
$font-size-lg: 18px !default;
$font-size-md: 16px !default;
$font-size-xs: 14px !default;
$font-size-xxs: 12px !default;
$font-size-base: $font-size-xs !default;

$font-weight-bold: 700 !default;
$font-weight-regular: 400 !default;
$font-weight-base: $font-weight-regular !default;

$line-height-lg: 2 !default;
$line-height-md: 1.5 !default;
$line-height-xs: 1.3 !default;
$line-height-base: $line-height-xs !default;

$font-size-h1: 60px !default;
$font-size-h2: 48px !default;
$font-size-h3: 36px !default;
$font-size-h4: 30px !default;
$font-size-h5: 24px !default;
$font-size-h6: 20px !default;

$font-size-h1-xs: 36px !default;
$font-size-h2-xs: 30px !default;
$font-size-h3-xs: 26px !default;
$font-size-h4-xs: 24px !default;
$font-size-h5-xs: 22px !default;
$font-size-h6-xs: 20px !default;

$line-height-h1: 1.2 !default;
$line-height-h2: 1.2 !default;
$line-height-h3: 1.25 !default;
$line-height-h4: 1.25 !default;
$line-height-h5: 1.25 !default;
$line-height-h6: 1.3 !default;

$line-height-h1-xs: 1.25 !default;
$line-height-h2-xs: 1.25 !default;
$line-height-h3-xs: 1.3 !default;
$line-height-h4-xs: 1.25 !default;
$line-height-h5-xs: 1.25 !default;
$line-height-h6-xs: 1.3 !default;

$typography-margin-top: 0px !default;
$typography-margin-bottom: 0px !default;

$headings-font-family: $font-family-base !default;
$headings-font-weight: $font-weight-bold !default;
