@import 'src/assets/styles/services';

.root {
  min-height: 100vh;
  width: 100%;
  background: $g-background-black;
}

.container {
  margin: 0 40px;
}

.header {
  margin-bottom: 20px;
  color: $c-white;
}

.artistsWrapper {
  padding-top: 30px;
  display: flex;
  flex-flow: column;
}

.tracksWrapper {
  display: flex;
  width: 100%;
}
