@import "src/assets/styles/services";

.root {
  text-decoration: none;
  transition: 0.25s ease-in-out;
}

.theme {
  &-green {

  }

  &-white {
    color: $s-white;
  }

  &-underline {
    border-bottom: 1px solid;
    padding-bottom: 3px;

    &:hover {
      border-bottom: 1px solid $s-green;
    }
  }

  &-defaultUnderline {
    color: $c-gray;
    border-bottom: 1px solid transparent;

    &:hover {
      color: $c-white;
      border-bottom: 1px solid;
    }
  }

  &-uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &-grayButton {
    font-size: $font-size-base;
    color: $c-white;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 4px;

    &.checked {
      background-color: $c-gray-mid;
    }
  }
}
